@import url("./__container/comments__container.css");

.comments {
    width: 1184px;
    margin-bottom: 102px;
}

@media (max-width : 1024px) {
    .comments {
        width: 928px;
    }
}

@media (max-width : 768px) {
    .comments {
        width: 660px;
    }
}

@media (max-width : 375px) {
    .comments {
        width: 343px;
        margin-bottom: 48px;
    }
}

@media (max-width : 320px) {
    .comments {
        width: 288px;
        margin-bottom: 64px;
    }
}