@media (max-width : 1024px) {
    .photo-grid {
        width: 928px;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(4, 200px);
        margin-bottom: 102px;
    }
}

@media (max-width : 768px) {
    .photo-grid {
        margin-top: 97px;
        width: 720px;
        grid-template-columns: repeat(2, 352px);
        grid-template-rows: repeat(6, 234px);
        margin-bottom: 102px;
    }
}

@media (max-width : 375px) {
    .photo-grid {
        margin-top: 64px;
        width: 343px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 232px);
        margin-bottom: 64px;
    }
}

@media (max-width : 320px) {
    .photo-grid {
        margin-top: 64px;
        width: 288px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 192px);
        grid-gap: 8px;
        margin-bottom: 64px;
    }
}

.photo-grid {
    margin-top: 102px;
    width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 188px);
    grid-gap: 16px;
    margin-bottom: 92px;
}