@import url("./__lang_selected/header__lang_selected.css");

.header__lang {
    max-width: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    justify-self: right;
    display: inline;
    color: white;
    text-decoration: none;
}

@media (max-width : 375px) {
    .header__lang {
        font-size: 18px;
        line-height: 96.82%;
    }
}

@media (max-width : 320px) {
    .header__lang {
        font-size: 18px;
        line-height: 17px;
    }
}