.video__item-bg {
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width : 1024px) {
    .video__item-bg {
        max-width: 456px;
    }
}

@media (max-width : 768px) {
    .video__item-bg {
        max-width: 352px;
    }
}

@media (max-width : 375px) {
    .video__item-bg {
        max-width: 343px;
        height: 200px;
    }
}

@media (max-width : 320px) {
    .video__item-bg {
        max-width: 456px;
        height: 192px;
        
    }
}