

.comment__author {
    max-width: 382px;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

@media (max-width : 1024px) {
    .comment__author {
        max-width: 296px;
    }
}

@media (max-width : 768px) {
    .comment__author {
        order: 1;
        align-self: center;
    }
}

@media (max-width : 375px) {
    .comment__author {
        max-width: 343px;
        z-index: 1;
    }
}

@media (max-width : 320px) {
    .comment__author {
        max-width: 288px;
        z-index: 1;
    }
}