
@media (max-width : 375px) {
    .place__content {
        flex-direction: column;
        justify-content: start;
    }
}

@media (max-width : 320px) {
    .place__content {
        flex-direction: column;
        justify-content: start;
    }
}

.place__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}