@media (max-width : 1024px) {
    .comments__container {
        width: 925px;
        height: 339px;
    }
}

@media (max-width : 768px) {
    .comments__container {
        width: 382px;
        height: 806px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width : 375px) {
    .comments__container {
        width: 343px;
        height: 881px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width : 320px) {
    .comments__container {
        width: 288px;
        height: 904px;
        display: flex;
        flex-direction: column;
    }
}

.comments__container {
    width: 1184px;
    height: 283px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}