@media (max-width : 1024px) {
    .cover__subtitle {
        max-width: 413px;
        height: 66px;
    }
}

@media (max-width : 768px) {
    .cover__subtitle {
        height: 80px;
        margin: 0 auto 240px;
    }
}

@media (max-width : 375px) {
    .cover__subtitle {
        max-width: 343px;
        height: 57px;
        font-size: 14px;
        line-height: 17px;
        margin: 0 auto 24px;
    }
}

@media (max-width : 320px) {
    .cover__subtitle {
        max-width: 288px;
        height: 49px;
        font-size: 14px;
        line-height: 17px;
        margin: 0 auto 24px;
    }
}

.cover__subtitle {
    max-width: 382px;
    height: 69px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin: 0 auto 48px;
    padding: 0;
    z-index: 1;
}