.header__lang_selected {
    text-decoration: underline;
    max-width: 30px;
    justify-self: right;
    margin-right: 18px;
}

@media (max-width : 375px) {
    .header__lang_selected {
        margin-right: 16px;
    }
    
}

@media (max-width : 320px) {
    .header__lang_selected {
        margin-right: 16px;
    }
}
