@import url("./__lang/header__lang.css");
@import url("./__lang/__lang-under/header__lang-under.css");
@import url("./__logo/header__logo.css");

@media (max-width : 1024px) {
    .header {
        width: 928px;
    }
    
}

@media (max-width : 768px) {
    .header {
        width: 720px;
    }
    
}

@media (max-width : 375px) {
    .header {
        margin-top: 16px;
        width: 343px;
        height: 42px;
        grid-gap: 16px;
    }
    
}

@media (max-width : 320px) {
    .header {
        margin-top: 16px;
        width: 288px;
        height: 42px;
        grid-gap: 16px;
    }
}

.header {
    position: relative;
    margin-top: 30px;
    margin-bottom: 48px;
    width: 1184px;
    height: 52px;
    display: grid;
    grid-template-columns: 30px 30px;
    justify-content: end;
    grid-gap: 18px;
    padding: 0;
}