@import url("./__lang/header__lang.css");
@import url("./__lang/__lang_selected/header__lang_selected.css");
@import url("./__logo/header__logo.css");
@import url("./__list-item/header__list-item.css");


.header {
    margin-top: 30px;
    margin-bottom: 48px;
    width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

@media (max-width : 1024px) {
    .header {
        width: 928px;
    }
    
}

@media (max-width : 768px) {
    .header {
        width: 720px;
    }
    
}

@media (max-width : 375px) {
    .header {
        margin-top: 16px;
        width: 343px;
    }
    
}

@media (max-width : 320px) {
    .header {
        margin-top: 16px;
        width: 288px;
    }
}

