
@media (max-width : 768px) {
    .footer__copyright {
        width: 183px;
        height: 21px;
    }
}

@media (max-width : 375px) {
    .footer__copyright {
        height: 21px;
    }
}

@media (max-width : 320px) {
    .footer__copyright {
        width: 183px;
        height: 21px;
    }
}

.footer__copyright {
    width: 282px;
    height: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    margin: 0;
    padding: 0;
}