@import url("./__title/intro__title.css");
@import url("./__text/intro__text.css");
@import url("./__content-row/intro__content-row.css");

@media (max-width : 1024px) {
    .intro {
        width: 928px;
        height: 377px;
        margin: 0 auto 0; 
    }
    
}

@media (max-width : 768px) {
    .intro {
        width: 720px;
        height: 384px;
        margin: 0 auto 0;  
    }
    
}

@media (max-width : 375px) {
    .intro {
        width: 343px;
        height: 693px;
        margin: 0 auto 0;  
    }
    
}

@media (max-width : 320px) {
    .intro {
        width: 288px;
        height: 784px;
        margin: 0 auto 0; 
    }
    
}

.intro {
    width: 683px;
    height: 371px;
    padding: 0;
    margin-left: 228px;
    margin-bottom: 0;
    align-self: flex-start;  
}
