@import url("./__bg/cover__bg.css");
@import url("./__overlay/cover__overlay.css");
@import url("./__title/cover__title.css");
@import url("./__subtitle/cover__subtitle.css");

@media (max-width : 1024px) {
    .cover {
        width: 1045px;
    }
}

@media (max-width : 768px) {
    .cover {
        width: 768px;
        margin-bottom: 102px;
    }
}

@media (max-width : 375px) {
    .cover {
        width: 375px;
        margin-bottom: 64px;
    }
}

@media (max-width : 320px) {
    .cover {
        width: 320px;
        margin-bottom: 64px;
    }
}

.cover {
    width: 1184px;
    z-index: 0;
    margin-bottom: 160px;
}






