@media (max-width : 1024px) {
    .place_second {
        height: 573px;
        grid-template-columns: 440px 456px;
        grid-template-rows: 80px 440px;
        grid-row-gap: 40px;
    }
}

@media (max-width : 768px) {
    .place_second {
        height: 565px;
        grid-template-columns: 340px 352px;
        grid-template-rows: 56px 340px;
        grid-row-gap: 40px;
    }
}

@media (max-width : 375px) {
    .place_second {
        height: 967px;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 375px 144px 328px;
        grid-gap: 24px;
    }
}

@media (max-width : 320px) {
    .place_second {
        height: 956px;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 320px 163px 353px;
        grid-gap: 24px;
    }
}

.place_second {
    height: 589px;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: 69px 460px;
    grid-column-gap: 40px;
    grid-row-gap: 60px;
}