.cover__title {
    max-width: 1094px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFDFD;
    margin: 274px auto 134px;
    padding: 0;
    z-index: 1;
}

@media (max-width : 1024px) {
    .cover__title {
        max-width: 550px;
        margin: 220px auto 100px;
    }
}

@media (max-width : 768px) {
    .cover__title {
        max-width: 720px;
        margin: 178px auto 45px;
    }
}

@media (max-width : 375px) {
    .cover__title {
        max-width: 270px;
        font-size: 32px;
        line-height: 35px;
        margin: 90px auto 10px;
    }
}

@media (max-width : 320px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 64px auto 7px;
    }
}