@import url("./__heading/place__heading.css");
@import url("./__content/place__content.css");
@import url("./__title/place__title.css");
@import url("./__website/place__website.css");
@import url("./__url-heading/place__url-heading.css");
@import url("./__url/place__url.css");
@import url("./__image/place__image.css");
@import url("./__paragraphs/place__paragraphs.css");
@import url("./__paragraph/place__paragraph.css");

@media (max-width : 1024px) {
    .place {
        width: 928px;
        margin-bottom: 72px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 440px;
        grid-row-gap: 40px;
    }
}

@media (max-width : 768px) {
    .place {
        width: 720px;
        margin-bottom: 72px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 40px;
    }
}

@media (max-width : 375px) {
    .place {
        width: 343px;
        margin-bottom: 48px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 375px 1fr 1fr;
        grid-row-gap: 24px;
    }
}

@media (max-width : 320px) {
    .place {
        width: 320px;
        margin-bottom: 48px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 320px 1fr 1fr;
        grid-row-gap: 24px;
    }
}

.place {
    width: 984px;
    margin-bottom: 72px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 460px;
    grid-row-gap: 60px;
}





