.comment__image {
    width: 97px;
    border-radius: 50%;
}

@media (max-width : 768px) {
    .comment__image {
        margin-top: 48px;
        margin-bottom: 16px;
        align-self: center;
        order: 0;
    }
}

@media (max-width : 375px) {
    .comment__image {
        margin-bottom: 16px;
    }
}

@media (max-width : 320px) {
    .comment__image {
        margin-bottom: 16px;
    }
}