@media (max-width : 1024px) {
    .place__website {
        width: 456px;
    }
}

@media (max-width : 768px) {
    .place__website {
        width: 352px;
    }
}

@media (max-width : 375px) {
    .place__website {
        visibility: hidden;
    }
}

@media (max-width : 320px) {
    .place__website {
        visibility: hidden;
    }
}


.place__website {
    width: 484px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}