@media (max-width : 1024px) {
    .content-title {
        max-width: 928px;
        height: 147px;
    }
}

@media (max-width : 768px) {
    .content-title {
        max-width: 720px;
        height: 104px;
        font-size: 42px;
        line-height: 46px;
        margin: 0 auto 24px;
    }
}

@media (max-width : 375px) {
    .content-title {
        max-width: 343px;
        height: 80px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 16px;
    }
}

@media (max-width : 320px) {
    .content-title {
        max-width: 288px;
        height: 112px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 16px;
    }
}

.content-title {
    max-width: 800px;
    height: 147px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    margin: 0 auto 48px;
    padding: 0;
}